<%= form_for(@earthquake) do |f| %>
  <% if @earthquake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earthquake.errors.count, "error") %> prohibited this earthquake from being saved:</h2>

      <ul>
      <% @earthquake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
